<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создатели</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/creators_style.css">

</head>
<body>
<img src="/static/img/logo.svg" id="logo" onclick="window.location.href='/'">

<div class="container">
    <div class="creators">
        <div class="creator first-creator">
            <h4>Сергей Трофимов</h4>
            <p>Работа над серверной частью, функционалом нейросети, <br>разработка страницы предпросмотра</p>
        </div>
        <div class="creator">
            <h4>Савелий Юрков</h4>
            <p>Работа с графикой</p>
        </div>
        <div class="creator">
            <h4>Варвара Никитская</h4>
            <p>Разработка дизайна страниц</p>
        </div>
    </div>
    <a href="/request" class="button">Назад</a>
</div>
</body>
</html>