<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запрос к нейросети</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Montserrat:ital,wght@0,500;1,200&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/css/info.css">
</head>
<body>
 <img src="/static/img/logo.svg" id="logo" onclick="window.location.href='/'">
    <div class="container">
        <div class="info_about_overload">
            <h1><span class="green">Упс...</span></h1>
            <p>Кажется нейросеть сейчас обрабатывает другой запрос. Повторите свой запрос через несколько минут</p>
        </div>
    </div>
    <a href="request" class="submit">Назад</a>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="/static/js/back.js"></script>
</body>
</html>